
<h1>Concursos Disponibles</h1>
 <div id="container">

    <% @contests.each do |contest| %>
       <div class= "row" style="width:25%">
         <div class="thumbnail">

          <%= contest.minidesc %>

           <%= link_to(image_tag(contest.photo , :class=> 'img-responsive'), contest) %>
           
              <div class="buttons" style="margin-top:10px; margin-bottom:10px">
        
           <%= link_to 'Show', contest, :class=>'btn' %>
              </div>
         </div> 
        </div>   
      
    <% end %>




<br>

 </div>
<script type="text/javascript">
var $container = $('#container');
// initialize
$container.masonry({
  columnWidth: 200,
  itemSelector: '.item'
});
$(window).load(function(){
var $container = $('#container');
// initialize
$container.masonry({
  columnWidth: 200,
  itemSelector: '.item'
});
})
</script>
