<div class="jumbotron">
	<div class="container">
  <h1>Spotsor.me</h1>
  <p>Sube tus Fotos!</p>
  <p><a class="btn btn-success btn-lg " role="button ">
  	Ingresa
  	<span class="glyphicon glyphicon-thumbs-up" style="font-size:20px ; color:orange"></span>
  </a></p>
  </div>
</div>

<div class="container">
<div class="row">
 <div class="col-md-4">
 	<div class="page-header">

<h2 style="display:inline">Mi primera   <span class="label label-default" style="font-size:20px; color:orange">New</span></h2>
 </div>
 <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</div>
     <div class="col-md-4">
     	<div class="page-header">

<h2>Mi primera pagina</h2>
 </div>
 	
	<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</div>

<div class="col-md-4">
	<div class="page-header">

<h2>Mi primera pagina</h2>
 </div>
	
	<p> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 	</p>

 </div>


 <div class="col-md-3">
	<a href="http://www.google.cl"> 
	<img src="http://flickholdr.com/200/300/sea,sun " class="img-rounded img-responsive">
</div>
<div class="col-md-3">
	<img src="/assets/sea,sun.jpg" class="img-rounded img-responsive">
</div>
	<div class="col-md-3">
	</a>
	<img src="http://flickholdr.com/200/300/sea" class="img-rounded img-responsive">
</div>
<div class="col-md-3">
	<img src="http://flickholdr.com/200/300/sun" class="img-rounded img-responsive">
</div>
</div>
</div>